<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console output em JSON (Fluentd coleta do stdout do container) -->
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app":"crud-k8s-lab"}</customFields>
        </encoder>
    </appender>

    <!-- Console output legível (para dev local com docker compose) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Profile: json (usado no K8s via variável de ambiente) -->
    <springProfile name="json">
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>

    <!-- Profile: default (dev local) -->
    <springProfile name="!json">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
